body {
  background-color: #ffffff;

  #messages-container {
    max-height: 560px;
    overflow: scroll;
    margin-top: 60px;
    .message-head {
      h3, h4 {
        text-align: center;
      }
    }
    .message-content {
      p {
        text-align: center;
      }
    }
  }

  #send-area {
    margin-top: 60px;
    & > div {
      text-align: center;
    }
  }

  #new-message-section {
    margin-top: 400px;
    margin-bottom: 300px;
  }
}