<div class="row" id="messages-container">
  <div ng-repeat="message in messages" class="col-xs-10 col-xs-offset-1">
    <div class="message-head">
      <h3>{{ message.author }}</h3>
      <h4>
        <small>
          <timer start-time="message.createdAt">
            <span ng-show="hours != 0">{{hours}} hours, </span>
            <span ng-show="minutes != 0">{{minutes}} minutes, </span>
            <span>{{seconds}} seconds.</span>
          </timer>
        </small>
      </h4>
    </div>
    <div class="message-content">
      <p>{{ message.content }}</p>
    </div>
  </div>
</div>

<div id="send-area" class="row">
  <div class="col-xs-12">
    <a ui-sref=".new" class="btn btn-lg btn-primary">Scrivi qualcosa!</a>
  </div>
</div>

<div ui-view=""></div>